body{
  font-family: "Microsoft Yahei"; 
  background-color:#231f1f;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding:3px 100px;
    font-size: 18px;
    line-height: 20px;

}



.navbar-inverse {
    background-color: #fff;  
    border-color: #504f4f;
    border-bottom-width: 5px;
    padding-top: 20px;
    height: 70px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000;
    margin-right: 60px;
    padding-right: 5px;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: rgb(138, 138, 141);
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
.h1, h1 {
    font-size: 40px;
    color: white;
}

.h10, h10 {
    font-size: 80px;
    color: white;
}


.h4, h4 { 
    color: #9B9B9B;
}
.input-group{
	padding-top: 10px;
}
.input-group .form-control{
   background-color:#504f4f;
   border:0px;
}
.mask{
    position:fixed;
    top     : 0;
    left    : 0;
    bottom  : 0;
    right   : 0;
    background:rgba(0,0,0,.3);
    /*background:hsla(0,100%,80%,0.5)*/
    /*background:#000;  */
	opacity:0.5;
}
.input-group .btn{
   background-color: #504f4f;
   border:1px solid #504f4f;
}
.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
.container {
  width: 1000px;
}
.col-md-12 .col-md-4 .aa:hover{

    opacity: 0.5;
}




.button { 
    color: #FC0818; 
    background-color: #231F1F; 
    border-color: #F50818; 
    height: 35px;
    width: 170px;

  } 

 
   
  .button:hover, 
  .button:focus, 
  .button:active, 
  .button.active, 
  .open .dropdown-toggle.button { 
    color: white;
    background-color: #7A2427; 
    border-color: #F50818; 
  } 
   
  .button:active, 
  .button.active, 
  .open .dropdown-toggle.button { 
    background-image: none; 
  } 
   
  .button.disabled, 
  .button[disabled], 
  fieldset[disabled] .button, 
  .button.disabled:hover, 
  .button[disabled]:hover, 
  fieldset[disabled] .button:hover, 
  .button.disabled:focus, 
  .button[disabled]:focus, 
  fieldset[disabled] .button:focus, 
  .button.disabled:active, 
  .button[disabled]:active, 
  fieldset[disabled] .button:active, 
  .button.disabled.active, 
  .button[disabled].active, 
  fieldset[disabled] .button.active { 
    background-color: #231F1F; 
    border-color: #F50818; 
  } 
   
  .button .badge { 
    color: #231F1F; 
    background-color: #FC0818; 
  }