<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频自动剪辑</title>
    <style>
        * {
            margin:0;
            padding: 0;
        }
        .head{
            line-height: 40px;
            width:100%;
            background-color: black;
            color:white;
            font-size: 25px;
            text-align: left;
        }
    </style>
    <script language="JavaScript" type="text/javascript">
        window.setTimeout("window.location='/set_case_parameter/'",5000);
    </script>
</head>
<body>

<div class="outer">
    <div class="head">
        视频数据分析
    </div>
    <div class="content">analyzing...</div>

</div>

</body>
</html>