<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">

	<!-- 屏幕适配pc,移动端不缩放 -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title></title>
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    {% load static %}
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">  
		/** 重置浏览器默认标签样式 */   
		body,ul,li{margin:0;padding:0;}   
		.xttblog{   
		 width: 1000px;   
		 height: 170px;   
		 margin-top:50px;   
		 margin-left: auto;   
		 margin-right: auto;   
		}   
		.box{margin-left: 5px;margin-top: 5px;list-style-type:none; }   
		.box li{float:left; }   
		.box li a,.box li a:visited{   
		 display:block;   
		 border:10px solid #231f1f ;
		 width: 300px;   
		 height: 180px;   
		 text-align: center;   
		 position: relative;   
		 z-index: 1;  
		 text-decoration:none;   
		}   

		.box li a img{   
		 display:block;   
		 width: 280px;   
		 height: 160px;   
		 text-align: center;   
		 position: relative;   
		 z-index:-1;    
		}   
        
		.box li a:hover img{opacity:0.6 ;position: relative;}   
		.box li .m1:hover{background: #1b1b18 ;position: relative;}   
		
		</style>  
	<link rel="stylesheet" type="text/css" href="D:\index2.css"media="all">

	<script>
	function display1(x){
		document.getElementById('t1').style.visibility="visible";
	}
	function hide1(x){
		document.getElementById('t1').style.visibility="hidden";
	}

	function display2(x){
		document.getElementById('t2').style.visibility="visible";
	}
	function hide2(x){
		document.getElementById('t2').style.visibility="hidden";
	}

	function display3(x){
		document.getElementById('t3').style.visibility="visible";
	}
	function hide3(x){
		document.getElementById('t3').style.visibility="hidden";
	}

	function display4(x){
		document.getElementById('t4').style.visibility="visible";
	}
	function hide4(x){
		document.getElementById('t4').style.visibility="hidden";
	}
	function display5(x){
		document.getElementById('t5').style.visibility="visible";
	}
	function hide5(x){
		document.getElementById('t5').style.visibility="hidden";
	}
	function display6(x){
		document.getElementById('t6').style.visibility="visible";
	}
	function hide6(x){
		document.getElementById('t6').style.visibility="hidden";
	}
	function display7(x){
		document.getElementById('t7').style.visibility="visible";
	}
	function hide7(x){
		document.getElementById('t7').style.visibility="hidden";
	}
	
	</script>

</head>
<body>
	<!-- 导航栏-->

	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container"> <!-- 容器-->
			<div class="navbar-header"><!-- 放logo和右边切换按钮-->
				<!-- 小图标切换效果：-->
				<button class="navbar-toggle" data-toggle = "collapse" data-target = "#use_menu">
		  			<span class="icon-bar"> </span>
		  			<span class="icon-bar"></span>
		  			<span class="icon-bar"></span>
		  		</button>
				<a href="#" class="navbar-brand"><img src="{% static 'image/logo.png' %}" alt=""></a>
			</div>

			<div class="collapse navbar-collapse" id="use_menu">
				<ul class="nav navbar-nav hidden-sm navbar-right "><!-- 导航文字-->
					<li><a href="">首页</a></li>
					<li><a href="" style="color:red">自动剪辑</a></li>
					<li><a href="">视频参数</a></li>
					<li><a href="">联系我们</a></li>
				</ul>


			</div>
		</div>
	
    </div>



    <div class="container">
        <h3 class="text-left" style="color:white">​上传你的素材</h3>
    </div>


	<div class="container">
		<div class="xttblog">  
			<ul class="box">  

			 <li><a href="#" class="m1">
				 <h4 >&nbsp</h4>
				 <h4 >&nbsp</h4>
				 <h4 class="text-center">添加素材</h4>
				</a>
			</li>  

			 <li><a href="#" ><img onmouseover="display1(this)" onmouseout="hide1(this)" src="D:\21.jpg"/>
				　<h5 id="t1"  style="position:absolute; z-index:2; left:130px; top:60px;color: white;visibility:hidden;" >删除</h5>
			</a></li>  

			 <li><a href="#" ><img onmouseover="display2(this)" onmouseout="hide2(this)" src="D:\22.jpg"/>
				　<h5 id="t2" style="position:absolute; z-index:2; left:130px; top:60px;color: white;visibility:hidden;">删除</h5>
			</a></li>  
			 <li><a href="#" ><img onmouseover="display3(this)" onmouseout="hide3(this)" src="D:\23.jpg"/>
				　<h5 id="t3" style="position:absolute; z-index:2; left:130px; top:60px;color: white;visibility:hidden;">删除</h5>
			</a></li>  
			 <li><a href="#" ><img onmouseover="display4(this)" onmouseout="hide4(this)" src="D:\24.jpg"/>
				　<h5 id="t4" style="position:absolute; z-index:2; left:130px; top:60px;color: white;visibility:hidden;">删除</h5>
			</a></li>  
			 <li><a href="#" ><img onmouseover="display5(this)" onmouseout="hide5(this)" src="D:\25.png"/>
				　<h5 id="t5" style="position:absolute; z-index:2; left:130px; top:60px;color: white;visibility:hidden;">删除</h5>
			</a></li>  
			 <li><a href="#" ><img onmouseover="display6(this)" onmouseout="hide6(this)" src="D:\26.png"/>
				　<h5 id="t6" style="position:absolute; z-index:2; left:130px; top:60px;color: white;visibility:hidden;">删除</h5>
			</a></li>  
			 <li><a href="#" ><img onmouseover="display7(this)" onmouseout="hide7(this)" src="D:\27.jpg"/>
				　<h5 id="t7" style="position:absolute; z-index:2; left:130px; top:60px;color: white;visibility:hidden;">删除</h5>
			</a></li>  
			</ul>  
		   </div>  
	</div>
	
	<div class="container">
        <h5>&nbsp</h5>
    </div>

	<div class="container">
		<div class="row">
				<div class="col-sm-9">
						<h5>&nbsp</h5>
				</div>
				<div class="col-sm-3">
					
							<input type="button" class="button" value="下一步" onClick="bt1_onclick()"  >
				</div>
		</div>
	</div>

	<div class="container">
			<h1>&nbsp</h1>
			<h1>&nbsp</h1>
			<h1>&nbsp</h1>
			<h1>&nbsp</h1>
		</div>

	<div class="container">
			<h4 class="text-left">© 2018 by IDEA LAB</h4>
	</div>


</body>
</html>