<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">

	<!-- 屏幕适配pc,移动端不缩放 -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title></title>
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    {% load static %}
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="D:\index2.css"media="all">
    

    <style>
            body{ text-align:center} 
            .i1 {
                text-align: center;
                color: #0c040a;
                background-color: #9933cc;
                font-size:larger;
                width: 100px;
                height: 50px;
            }
        </style>

</head>

<body>
        <!-- 导航栏-->
    
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container"> <!-- 容器-->
                <div class="navbar-header"><!-- 放logo和右边切换按钮-->
                    <!-- 小图标切换效果：-->
                    <button class="navbar-toggle" data-toggle = "collapse" data-target = "#use_menu">
                          <span class="icon-bar"> </span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                    <a href="#" class="navbar-brand"><img src="{% static 'image/logo.png' %}" alt=""></a>
                </div>
    
                <div class="collapse navbar-collapse" id="use_menu">
                    <ul class="nav navbar-nav hidden-sm navbar-right "><!-- 导航文字-->
                        <li><a href="">首页</a></li>
                        <li><a href="">自动剪辑</a></li>
                        <li><a href="">视频参数</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
    
    
                </div>
            </div>

        </div>
       
            <div class="container">
                    <h1>&nbsp&nbsp&nbsp&nbsp</h1>
            </div>

    

            <video id="i1"  width="680" height="380" controls autoplay>
                        <source src="D:\video.mp4" type="video/mp4">
             </video>
      
             <div class="container">
                    <h6>&nbsp</h6>
            </div>

    <div class="container">
		<div class="row">
				<div class="col-sm-6">
						    <input type="button" class="button" value="上一步" onClick="bt2_onclick()"  >
				</div>
				<div class="col-sm-6">
							<input type="button" class="button" value="下载视频" onClick="bt3_onclick()"  >
				</div>
		</div>
	</div>


	<div class="container">
			<h1>&nbsp</h1>
			<h1>&nbsp</h1>
			<h1>&nbsp</h1>
			<h1>&nbsp</h1>
		</div>

	<div class="container">
			<h4 class="text-left">© 2018 by IDEA LAB</h4>
	</div>

</body>
</html>
